* {
  color: #fff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  color: #000000;
  margin-bottom: 31px;
}

.title__services {
  font-size: 30px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.button {
  position: relative;
  width: 177px;
  height: 47px;
  background: linear-gradient(94.58deg, #6BB8CB -10.01%, #5DCAE6 45.45%, #6BB8CB 110.98%);
  border: 1px solid #6BB8CB;
  border-radius: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.button_order-call {
  max-width: 180px;
  left: 1674px;
  top: 21px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  background: none;
  border: none;
  color: #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button_form {
  margin-top: 31px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 662px;
  height: 369px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 7px rgba(39, 51, 54, 0.2);
          box-shadow: 0px 0px 7px rgba(39, 51, 54, 0.2);
  border-radius: 20px;
  padding: 35px 39px 40px 39px;
}

.form .container {
  margin-top: 36px;
}

.form__header {
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

.form__input {
  width: 100%;
  height: 47px;
  border: 1px solid #E3E3E3;
  border-radius: 20px;
  padding-left: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #B6B6B6;
  -webkit-text-fill-color: #B6B6B6;
  margin-top: 17px;
}

.form__input:focus {
  border: 2px solid #6BB8CB;
  outline: none;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  padding: 21px 38px 0 28px;
  height: 88px;
  z-index: 10;
}

.header .hamburger {
  position: absolute;
  display: none;
  width: 28px;
  height: 26px;
  right: 11px;
  top: 11px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20%;
  padding: 8px 3px 0 3px;
  z-index: 1000;
}

.header .hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background: black;
  margin-bottom: 2px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .hamburger_active span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translatey(3px) translatex(-4px);
          transform: rotate(-45deg) translatey(3px) translatex(-4px);
}

.header .hamburger_active span:nth-child(2) {
  display: none;
}

.header .hamburger_active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translatey(0px) translatex(1px);
          transform: rotate(45deg) translatey(0px) translatex(1px);
}

.header__official {
  width: 153px;
  height: 42px;
  margin-top: 3px;
}

.header__official-logo {
  width: 100%;
  height: 100%;
}

.header__navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 20px;
  margin-left: 142px;
  height: 33px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__navigation_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header__navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.header__navigation-item a {
  height: 33px;
  margin-left: 55px;
  border-radius: 20px;
  padding: 0px 20px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  color: black;
  font-weight: 400;
  line-height: 33px;
}

.header__navigation-item a.mr0 {
  margin-left: 0;
}

.header__navigation-item a.hover:hover {
  color: #fff;
  background-color: #6BB8CB;
}

.header__call {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding-right: 15px;
  padding-left: 10px;
}

.header__call .hr {
  position: absolute;
  left: 34%;
  border-top: 1px solid black;
  height: 100px;
  width: 30px;
  opacity: 0.4;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__call-phone {
  width: 12.3px;
  margin-right: 4px;
}

.header__call-tel {
  margin-right: 21px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 27px;
  margin-right: 4px;
  border-radius: 20px;
  padding: 15px 20px 15px 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.promo {
  position: relative;
  top: -88px;
  height: 800px;
  background: #6BB8CB;
  z-index: 1;
}

.promo__bg {
  background: url("../img/header_bg_4.jpg") center center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.promo__gradient {
  background: -webkit-gradient(linear, left top, right top, from(#6BB8CB), color-stop(20%, #6BB8CB), color-stop(60%, rgba(107, 184, 203, 0)));
  background: linear-gradient(90deg, #6BB8CB 0%, #6BB8CB 20%, rgba(107, 184, 203, 0) 60%);
  width: 100%;
  height: 100%;
  padding-top: 123px;
  padding-left: 5%;
}

.promo__header {
  text-align: center;
  max-width: 663px;
  margin-bottom: 52px;
}

.promo__title {
  font-size: 50px;
  line-height: 65px;
}

.promo__subtitle {
  font-size: 40px;
  line-height: 52px;
}

.about-us {
  min-height: 671px;
  padding: 91px 137px;
}

.about-us__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.about-us__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid #6BB8CB;
  border-radius: 50%;
}

.about-us__icon-img {
  max-width: 80px;
}

.about-us__descr {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #6BB8CB;
  margin-top: 30px;
}

.benefits {
  min-height: 732px;
  border: 1px solid black;
  padding: 70px 140px;
  background: url("../img/footer_bg.jpg") top center/cover no-repeat;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.benefits__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.benefits__icon-img {
  width: 60%;
}

.benefits__icon-img_black {
  display: none;
}

.benefits__icon-img_blue {
  display: block;
}

.benefits__icon-img_right {
  position: relative;
  left: 8%;
}

.benefits__descr {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  max-width: 380px;
  color: #000000;
  margin-top: 8px;
}

.expert__wrap {
  position: relative;
  padding: 95px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 413px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.expert__tab {
  position: relative;
  width: 17%;
  height: 98.62px;
  background: #FFFFFF;
  border: 1px solid #6BB8CB;
  border-radius: 20px;
  text-align: center;
  margin: 25px 10px 0 10px;
  cursor: pointer;
}

.expert__tab_active {
  background: #6BB8CB;
}

.expert__tab:hover {
  -webkit-box-shadow: 1px 1px 20px #6BB8CB;
          box-shadow: 1px 1px 20px #6BB8CB;
}

.expert__group {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: #6BB8CB;
}

.expert__group_active {
  color: #fff;
}

.expert__list {
  display: none;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 95px;
  list-style: none;
  max-width: 1000px;
  top: 100%;
  text-align: center;
}

.expert__list_active {
  display: block;
}

.expert__list-item {
  color: #6BB8CB;
  font-size: 38px;
  line-height: 55px;
  border-radius: 20px;
  background-color: #fff;
  padding: 5px 20px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.expert__list-item:hover {
  color: #fff;
  background-color: #6BB8CB;
}

.services {
  background-color: #6BB8CB;
  min-height: 633px;
  padding: 95px 117px;
}

.services__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.services__wrap:first-child {
  height: 153px;
}

.services__wrap:first-child .services__block_transparent {
  width: 619px;
}

.services__wrap:last-child {
  height: 210px;
}

.services__wrap:last-child .services__block_transparent {
  width: 619/2px;
}

.services__block {
  margin-right: 35px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.services__block-wrap {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services__block:last-child {
  margin: 0;
}

.services__block_white {
  text-align: center;
  width: 442px;
  border: 1px solid #FFFFFF;
  padding: 29px 70px;
  background: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.services__block_transparent {
  text-align: center;
}

.services__text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  padding: 20px 40px;
}

.services__text .bold {
  font-weight: 700;
  font-size: 48px;
  line-height: 28px;
}

.services__text .bold_little {
  font-size: 32px;
  line-height: 42px;
}

.services__text .thin {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.services .hr {
  height: 0.5px;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 37px;
  margin-bottom: 37px;
}

.stats {
  min-height: 880px;
  padding-left: 85px;
  padding-top: 95px;
}

.stats__wrap {
  min-height: 707px;
  width: 53%;
}

.stats__item {
  text-align: center;
  border: 1px solid #6BB8CB;
  border-radius: 20px;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}

.stats__item-icon {
  max-height: 95px;
}

.stats__item-text {
  display: block;
  vertical-align: bottom;
  font-size: 30px;
  line-height: 100%;
  color: #6BB8CB;
}

.stats__item-text .bold {
  font-size: 48px;
  line-height: 110%;
  color: #6BB8CB;
}

.stats__case {
  height: 177px;
  background: #6BB8CB;
  border: 1px solid #6BB8CB;
  border-radius: 20px;
  margin-top: 27px;
  text-align: center;
  padding: 0px 50px;
}

.stats__case-wrap {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.stats__case-title {
  font-size: 30px;
  line-height: 100%;
}

.stats__case-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}

.stats__case-text .bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.cost-calculation {
  min-height: 650px;
  background: url("../img/footer_bg.jpg") top center/cover no-repeat;
  text-align: center;
}

.footer {
  height: 211px;
  background: #6BB8CB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__tel {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer__mail {
  font-size: 24px;
  line-height: 140%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  margin: 20px 0;
}

.footer__address {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

@media (max-width: 1501px) {
  .promo__header {
    width: 625px;
  }
  .form {
    width: 625px;
  }
  .about-us {
    padding: 91px 50px;
  }
  .about-us__descr {
    font-size: 20px;
  }
  .about-us__icon-wrap {
    width: 150px;
    height: 150px;
  }
  .about-us__icon-img {
    width: 87px;
  }
}

@media (max-width: 1238px) {
  .header__navigation {
    margin-left: 50px;
  }
  .header__navigation-item a {
    margin-left: 32px;
  }
  .header__navigation-item:first-child {
    margin-left: 0px;
  }
  .header__call {
    margin-left: auto;
  }
  .header__call .hr {
    left: 29%;
  }
  .header__call-tel {
    font-size: 17px;
  }
  .header .button_order-call {
    font-size: 17px;
  }
  .promo__gradient {
    background: -webkit-gradient(linear, left top, right top, from(#6BB8CB), color-stop(30%, #6BB8CB), color-stop(90%, rgba(107, 184, 203, 0)));
    background: linear-gradient(90deg, #6BB8CB 0%, #6BB8CB 30%, rgba(107, 184, 203, 0) 90%);
  }
  .about-us__icon-wrap {
    width: 120px;
    height: 120px;
  }
  .about-us__icon-img {
    width: 72px;
  }
  .about-us__descr {
    font-size: 17px;
    line-height: 21px;
  }
}

@media (max-width: 999px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__navigation {
    margin-left: 15px;
    height: 44px;
  }
  .header__navigation-item a {
    font-size: 17px;
    margin: 0;
    height: 44px;
    line-height: 44px;
  }
  .header__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7px 15px;
  }
  .header__call .hr {
    display: block;
    width: 149px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 12px;
    top: -97%;
  }
  .header__call-tel {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .header .button_order-call {
    font-size: 20px;
    line-height: 26px;
  }
  .promo__header {
    font-size: 41px;
    width: 500px;
  }
  .promo__title {
    font-size: 40px;
    line-height: 50px;
  }
  .promo__subtitle {
    font-size: 32px;
  }
  .promo .form {
    width: 500px;
  }
  .promo .form .container {
    margin-top: 21px;
  }
  .promo .form .container input {
    width: 197px;
    height: 39px;
  }
  .about-us__icon-wrap {
    width: 100px;
    height: 100px;
  }
  .about-us__icon-img {
    width: 55px;
  }
  .about-us__descr {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 22px;
    margin-top: 10px;
  }
  .about-us {
    padding: 91px 100px;
  }
  .about-us__item {
    margin-top: 50px;
  }
  .about-us__icon-wrap {
    width: 130px;
    height: 130px;
  }
  .about-us__icon-img {
    width: 65px;
  }
  .benefits {
    padding: 91px 100px;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    position: fixed;
    top: 0;
    right: -50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100vh;
    width: 50%;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }
  .header__navigation-item a {
    position: relative;
    text-align: center;
    display: block;
    width: 50vw;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
    height: 80px;
    color: #fff;
  }
  .header .hamburger {
    position: fixed;
    display: block;
  }
  .promo__gradient {
    background: -webkit-gradient(linear, left top, right top, from(#6BB8CB), color-stop(40%, #6BB8CB), color-stop(90%, rgba(107, 184, 203, 0)));
    background: linear-gradient(90deg, #6BB8CB 0%, #6BB8CB 40%, rgba(107, 184, 203, 0) 90%);
  }
  .promo__header {
    max-width: 450px;
  }
  .promo__title {
    font-size: 33px;
    line-height: 42px;
  }
  .promo__subtitle {
    font-size: 27px;
  }
}

@media (max-width: 576px) {
  .title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 55px;
  }
  .subtitle:nth-of-type(2) {
    display: none;
  }
  .about-us, .benefits {
    padding: 20px 20px 60px 20px;
  }
  .benefits__item {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */