*
    color: #fff
    font-family: 'PT Sans'
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 23px

    box-sizing: border-box

    margin: 0
    padding: 0
    scroll-behavior: smooth

body
    position: relative

.container

.title
    font-size: 50px
    line-height: 65px
    text-align: center

    color: #000000
    margin-bottom: 31px


    &__services
        font-size: 26px
        line-height: 32px
        color: #000000
        margin-bottom: 20px


.subtitle
    font-weight: 400
    font-size: 30px
    line-height: 39px
    text-align: center

    color: #000000





@import "base/varibles"
@import "base/mixins"
@import "base/buttons"
@import "base/forms"
@import "base/scroll_bar"


@import "blocks/header"
@import "blocks/promo" 
@import "blocks/about-us" 
@import "blocks/benefits" 
@import "blocks/expert" 
@import "blocks/services" 
@import "blocks/stats"
@import "blocks/cost-calculation"
@import "blocks/modal"
@import "blocks/footer"

     


    


@media (max-width: 1501px)

    .promo
        &__gradient
            // padding-left: 150px

        &__header
            width: 625px

    .form
        &_order-call
            width: 625px


    .about-us

        &__descr
            font-size: 20px
        
        &__icon
            &-wrap
                width: 150px
                height: 150px
            
            &-img
                width: 87px 

    .expert
        &__wrap

        &__tab

        &__group
            font-size: 16px
            line-height: 23px

        &__list

            &-item
                padding: 0px 5px


    .services

        &__text
            padding-top: 35px
            .bold

    
    .stats
        &__wrap
        
        &__item
            padding: 0 10px
            &-icon

            &-text
                font-size: 26px

                .bold
                    font-size: 37px

        &__case
            padding: 20px 10px
            &-wrap

            &-title
                margin-bottom: 12px

            &-text
                font-size: 22px
                .bold
                    font-size: 22px



@media (max-width: 1238px)
    
    .header
        &__navigation
            margin-left: 50px
            &-item
                & a
                    // font-size: 14px
                    margin-left: 32px

                &:first-child
                    margin-left: 0px

        &__call
            margin-left: auto

            .hr
                left: 29%


            &-tel
                font-size: 17px
            

        .button_order-call
            font-size: 17px

    .promo
        &__gradient
            background: linear-gradient(90deg, #6BB8CB 0%, #6BB8CB 30%, rgba(107, 184, 203, 0) 90%)


    .about-us

        &__icon
            &-wrap
                width: 120px
                height: 120px

            &-img
                width: 72px


        &__descr
            // font-size: 17px
            // line-height: 21px

    


            
        &__tab

        &__group
            font-size: 16px
            line-height: 20px

        &__list

            &-item
                font-size: 16px
                padding: 0px 10px




    .services

        &__wrap

        &__block
            margin: 0 7px

            &-wrap


            &_white

            &_transparent

        &__pare
            
            & .services__text

                & .bold

                &:first-child 
                    margin-right: 7px
                    
                &:last-child
                    margin-left: 7px

        &__text
            
            .bold

@media (max-width: 1200px)
    .expert

        &__wrap
            padding: 94px 36px

        &__list
            justify-content: space-between
            &.down__col-2_1200
                top: 354px
            
            &.down__col-3_1200
                top: 484px

    .stats
        &__gradient
            background: linear-gradient(90deg, #fff 0%, #fff 60%, rgba(107, 184, 203, 0) 95%)


        &__wrap
            width: 70%

        &__item
            &-text
                font-size: 21px
                .bold
                    font-size: 29px


@media (max-width: 999px) 

    .header
        align-items: center
        &__official
            & a

        &__navigation
            margin-left: 15px
            height: 44px

            &-item
                & a
                    font-size: 17px
                    margin: 0
                    height: 44px
                    line-height: 44px


        &__call
            display: flex
            flex-direction: column
            padding: 7px 15px

            .hr
                display: block
                width: 149px
                transform: rotate(180deg)
                left: 12px
                top: -97%



            &-tel
                font-size: 20px
                padding: 0
                margin: 0
                text-align: center
                border: none
            

        .button_order-call
            font-size: 20px
            line-height: 26px


    .promo
        &__gradient
            // padding-left: 100px

        &__header
            font-size: 41px
            width: 500px

        &__title
            font-size: 40px
            line-height: 50px

        &__subtitle
            font-size: 32px

    .form
        &_order-call
            width: 500px

        .container
            margin-top: 21px

            input
                width: 197px
                height: 39px

        &_cost-calculation
            .form__input
                font-size: 16px

    .about-us

        &__icon
            &-wrap
                width: 100px
                height: 100px

            &-img
                width: 55px


        &__descr
            font-size: 19px
            line-height: 22px
            



    .services

        &__wrap

        &__block

            &-wrap


            &_white
                width: 32%
                height: 174px
                position: relative
                top: 50%
                &.top
                    height: 200px
                    margin-top: 10%
            &_transparent

        &__pare
            flex-direction: column
            align-items: start
            
            & .services__text
                width: 100%
                font-size: 22px

                & .bold

                &:first-child
                    margin: 0 0 7px 0
                
                &:last-child
                    margin: 7px 0 0 0

        &__text
            font-size: 22px
            .bold
@media (max-width: 991px)

    .title
        font-size: 40px

    .subtitle
        font-size: 22px
        margin-top: 10px

    .about-us
        padding: 0px 100px 50px 100px

        &__item
            margin-top: 50px

        &__icon
            &-wrap
                width: 130px
                height: 130px

            &-img
                width: 65px

    .benefits
        padding: 91px 100px
        
        &__descr
            font-size: 19px
            line-height: 22px 
 

    .expert
        &__list

            &-item
                font-size: 14px
                line-height: 14px
            
            &.down__col-2_992
                top: 354px

            &.down__col-3_992
                top: 479px

            &.down__col-4_992
                top: 602px

            &.down__col-5_992
                top: 725px
        
    .stats
        &__gradient
            background: linear-gradient(90deg, #fff 0%, #fff 50%, rgba(107, 184, 203, 0) 90%)

        &__wrap
            width: 80%

    .form
        &_cost-calculation

            .form__input
                padding-left: 14px

            .agreement
                &__text
                    font-size: 12px

            


@media (max-width: 768px)

    .header

        &__navigation
            position: fixed
            top: 0
            right: -50%
            flex-direction: column
            justify-content: space-around
            height: 100vh
            width: 50%
            border-radius: 0
            background: rgba(0, 0, 0, 0.7)
            // transition-duration: 0.2s all
            z-index: 100

            &_active
                transform: translateX(-100%)

            &-item
                a
                    position: relative
                    text-align: center
                    display: block
                    width: 50vw
                    font-size: 24px
                    padding-top: 20px
                    padding-bottom: 20px
                    line-height: 40px
                    height: 80px
                    color: #fff

        &__call
            margin-right: 20px
                
        .hamburger
            position: fixed
            display: block

    .promo

        &__gradient
            background: linear-gradient(90deg, #6BB8CB 0%, #6BB8CB 40%, rgba(107, 184, 203, 0) 90%)

        &__header
            max-width: 450px

        &__title
            font-size: 33px
            line-height: 42px

        &__subtitle
            font-size: 27px

    .expert
        &__list
            flex-wrap: wrap
            &-item
                font-size: 14px
                line-height: 17px
                padding: 0px 3px
                width: 167px

    .form
        &_order-call
            margin-left: auto
            margin-right: auto

        &_modal
            margin: 0



    .services

        &__wrap
            flex-direction: column

        &__block

            &-wrap


            &_white
                width: 100%

                &.top
                    margin: 0
                    height: 172px

            &_transparent
                width: 100%

            

        &__pare
            margin: 20px 0 0 0 
            & .services__text
                font-size: 26px
                width: 100%

                & .bold

                &:first-child
                
                &:last-child

        &__text
            margin: 20px 0 0 0 
            
            .bold
                font-size: 26px
                line-height: 42px


    .stats
        &__gradient
            padding: 30px 40px
        &__wrap
            width: 100%

        &__item
            margin-top: 30px
            width: 100%

    .button
        &_mini
            z-index: -100  
            opacity: 0          


    

@media (max-width: 576px)

    .form
        text-align: center
        width: 100%
        padding: 26px 23px 23px 16px

        &__header
            font-size: 28px

        .container
            margin-top: 0

        &__input
            width: 200px
            height: 38px

        &_cost-calculation

            .form
                &__subtitle
                    font-size: 21px
                    line-height: 22px
                
                &__input
                    font-size: 11px
                    margin: 0px 0 10px 0

            .agreement
                align-items: start
                &__checkbox
                    width: 28px

                &__text
                    font-size: 10px
                    margin-left: 5px

                    br
                        display: block


    .button
        &_form 
            margin-top: 30px

    .title 
        margin-bottom: 20px
        font-size: 35px
        line-height: 55px


    .subtitle

        &:nth-of-type(2)
            display: none

    .about-us, .benefits
        padding: 20px 20px 60px 20px

    .benefits
        &__item
            margin-top: 30px

    .promo
        
        &__gradient
            padding-left: 20px 
            padding-right: 20px 

        &__header
            max-width: 300px

        &__title
            font-size: 24px
            line-height: 32px

        &__subtitle
            font-size: 20px


    .header
        align-items: start
        padding: 11px 38px 0 28px

        &__official-logo

        &__call
            width: 130px
            height: 33px
            padding: 0 0 4px 0
            
            &-tel
                font-size: 13px
                line-height: 33px
        .hr
            display: none

        .button_order-call
            display: none

        &__navigation
            justify-content: center

            &-item
                a
                    font-size: 15px



   

    .expert

        &__tab
            width: 90%
            margin: 25px 5% 0 5%

        &__wrap
            padding: 0 0 30px 0

        .col-12
            padding: 0

        &__list
            position: static
            min-height: 250px
            flex-direction: column
            padding: 10px 0

            width: 90%
            margin: 25px 5% 0 5%

            &-item
                font-size: 16px
                width: 100%
                margin: 0


        &__tab
            &_active
                margin-bottom: 0
            &:hover

        

    .stats
        &__gradient
        &__wrap

        &__item
            margin-top: 30px
            width: 84%
            height: 225px
            margin: 15px auto

        &__case

            &-title
                font-size: 22px

            &-text
                font-size: 17px
                .bold
                    font-size: 17px


    .footer
        &__tel
            font-size: 18px
        &__mail
            font-size: 18px
        &__address
            font-size: 18px

        











        