.button
    position: relative
    width: 177px
    height: 47px

    background: linear-gradient(94.58deg, #6BB8CB -10.01%, #5DCAE6 45.45%, #6BB8CB 110.98%)
    border: 1px solid #6BB8CB
    border-radius: 50px
    font-weight: 400
    font-size: 20px
    line-height: 26px

    &_order-call
        width: 198px
        height: 47px
        left: 1674px
        top: 21px

        border: 1px solid #FFFFFF
        border-radius: 20px
        background: $main_color
        transition-duration: 0.3s

        &:hover
                background-color: #fff
                color: $main_color

    &_form
        margin-top: 31px
        
