.about-us
    min-height: 600px
    padding: 0px 137px 0px 137px
    position: relative
    top: -30px

    .title
        color: $main-color
    &__item
        display: flex
        flex-direction: column
        justify-content: start
        align-items: center

        margin-top: 50px

     
    &__icon-wrap

        display: flex
        justify-content: center
        align-items: center

        width: 150px
        height: 150px

        border: 1px solid $main-color
        border-radius: 50%


    &__icon-img
        max-width: 80px

    &__descr
        font-size: 22px
        line-height: 28px
        text-align: center

        color: #000

        margin-top: 0px

            
