.promo
    position: relative
    top: -$header_height_max
    height: 800px
    background: $main_color
    z-index: 1

    &__bg
        background : url("../img/header_bg_4.jpg") center center/cover no-repeat
        width: 100%
        height: 100%

    &__gradient
        background: linear-gradient(90deg, #6BB8CB 0%, #6BB8CB 20%, rgba(107, 184, 203, 0) 60%)
        width: 100%
        height: 100%
        
        padding-top: 123px
        padding-left: 5%



    &__header
        text-align: center
        max-width: 663px
        margin-bottom: 52px

    &__title
        font-size: 50px
        line-height: 65px

    &__subtitle
        font-size: 40px
        line-height: 52px

        

